name: changie

on:
  push:
    branches: ["main"]
    paths:
      - ".changes/unreleased/**"

jobs:
  generate-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Batch changes
        uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2
        with:
          version: latest
          args: batch auto

      - name: Merge changes
        uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2
        with:
          version: latest
          args: merge

      - name: Get the latest version
        id: latest
        uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2
        with:
          version: latest
          args: latest

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          title: Release ${{ steps.latest.outputs.output }}
          branch: release/${{ steps.latest.outputs.output }}
          body-path: .changes/${{ steps.latest.outputs.output }}.md
          commit-message: Release ${{ steps.latest.outputs.output }}
          token: ${{ env.TOKEN }}
        env:
          TOKEN: ${{ secrets.TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
